<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator - by Pranay</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../utlis.css">
</head>
<body>

    <div class="container">
        <h1>Calculator</h1>
        <input type="text" class="text">
        <div class="row">
            <button class="btn bg-t">AC</button>
            <button class="btn bg-t">C</button>
            <button class="btn bg-t">%</button>
            <button class="btn bg-o">/</button>
        </div>
        <div class="row">
            <button class="btn bg-g">7</button>
            <button class="btn bg-g">8</button>
            <button class="btn bg-g">9</button>
            <button class="btn bg-o">*</button>
        </div>
        <div class="row">
            <button class="btn bg-g">4</button>
            <button class="btn bg-g">5</button>
            <button class="btn bg-g">6</button>
            <button class="btn bg-o">-</button>
        </div>
        <div class="row">
            <button class="btn bg-g">1</button>
            <button class="btn bg-g">2</button>
            <button class="btn bg-g">3</button>
            <button class="btn bg-o">+</button>
        </div>
        <div class="row">
            <button class="btn btn1 bg-g">0</button>
            <button class="btn bg-g">.</button>
            <button class="btn bg-o">=</button>
        </div>
    </div>
    <script src="script.js"></script>
    
</body>
</html>